body, header, nav, main, footer, h1, div, img, article, section, aside {
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  box-sizing: border-box;
}

.txtCenter {
  text-align: center;
}

.maxWidth {
  width: 100%;
}

.center{
  margin-left: auto;
  margin-right: auto;
}

.no-margin {
  margin-bottom: 1px;
  margin-top: 1px;
}

.col-25 {
  width: 25%;
}

.col-33 {
  width: 33%;
}

.col-50 {
  width: 50%;
}

.col-75 {
  width: 75%
}

body {
  background-color: #cccccc;
}

.register-page {
  margin: 0 auto 100px;
  text-align: center;
  margin-bottom: 20px;
}

.registerForm {
  background-color: white;
  height: 240px;
  margin-top: 5%;
  border: 2px solid black;
  border-radius: 5%;
  box-shadow: 10px 10px 5px grey;
}

input {
  border: 2px solid black;
  border-radius: 4px;
  height: 35px;
  width: 80%;
  margin-top: 5px;
  display: flex;
  text-align: center;
}

.submitBtn {
  position: relative;
  top: 10px;
  width: 80px;
  background-color: #4a61d3;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 6px 4px;
}

form p {
  position: relative;
  top: 5px;
}

.submitForm {
  display: none;
  background-color: white;
  height: 300px;
  border: 2px solid black;
  border-radius: 5%;
  box-shadow: 10px 10px 5px grey;
}

.leagues {
  width: 75%;
  display: flex;
  flex-direction: row;
}

.box {
  width: 33%;
  height: 500px;
  border: 2px solid black;
  margin: 3px;
}

.counters {
  width: 75%;
  display: flex;
}

.counters p {
  font-size: 3vw;
  text-align: center;
  width: 75%;
  flex-direction: row;
}

.box p {
  font-size: 3vw;
  display: inline;
}
